<p style="color: grey; font-family: courier new; text-align: center;">Noah Movie Manager<br />
HP Coding Challenge<br />
<%= link_to 'My GitHub', 'https://www.github.com/naltun/', class: 'btn btn-default', target: '_blank' %>
<%= link_to 'Heroku App', 'https://www.fierce-citadel-7001.herokuapp.com', class: 'btn btn-default', target: '_blank' %></p>
